<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Отдавания</h3>
  </div>
  <div class="panel-body">
  <% if !@copy.loans.empty? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Отдадена на</th>
          <th>Дата на отдаване</th>
          <th>Краен срок</th>
          <th>Дата на връщане</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        <% @copy.loans.each do |loan| %>
        <tr>
          <td>
            <a href="/users/<%= loan.user.id %>"><%= loan.user.name %></a>
          </td>
          <td>
            <%= loan.date_loaned %>
          </td>
          <td>
            <%= loan.date_supposed_return %>
          </td>
          <% if loan.date_returned %>
          <td>
            <%= loan.date_returned %>
          </td>
          <td>
          </td>
          <td>
          </td>
          <% else %>
          <td>
            Не е върната
          </td>
          <td>
            <a href=<%= "/prints/#{@print.id}/#{@copy.inventory_number}/return" %> class="btn btn-primary">
              Върни</a>
          </td>
          <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      Това копие на '<%= @print.title %>' все още не е отдавано.
    <% end %>
  </div>
</div>
