<!DOCTYPE html>
<html>
  <head>
    <title>Liberta :: <%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/css/liberta.css" rel="stylesheet" media="screen" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/liberta.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Покажи менюто</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Liberta</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <%  @navigation_links.each do |link| %>
            <li <%= link.active ? "class='active'" : "" %>>
              <%= to_link link.href, link.title %>
            </li>
          <% end %>
        </ul>
        <form class="navbar-form navbar-left" role="search" method="post" action="/prints/search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Търсене в базата" name="searchables">
          </div>
          <button type="submit" class="btn btn-default">Търси</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <% if logged? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= glyphicon_span("flag") %>
              <% if unread_notifications? %>
                <span class="label label-danger" id="notifications-count"><%= unread_notifications.count %></span>
              <% end %>
            </a>
            <ul class="dropdown-menu" id="notification-dropdown">
              <% if unread_notifications? %>
                <% unread_notifications.each_with_index do |notification, i| %>
                  <li><a class="notification" data-for="<%= notification.id %>"><%= notification.message %></a></li>
                <% end %>
              <% else %>
                <li><a href="#">Нямате непрочетени известия</a></li>
              <% end %>
            </ul>
          </li>
        <% end %>
          <% if logged? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= logged_user.name.split(" ").first %>&nbsp;<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Моите Книги</a></li>
              <li><a href="#">Настройки</a></li>
              <li class="divider"></a>
              <li><a href="/logout">Изход</a></li>
            </ul>
          </li>
          <% else %>
          <li><a href="/login">Влез</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container container-body">
      <div class="row">
        <ol class="breadcrumb">
          <%  @breadcrumbs.each_with_index do |link, i| %>
            <li <%= i + 1 == @breadcrumbs.size ? "class='active'" : "" %>>
              <%= i + 1 == @breadcrumbs.size ? link.title : to_link(link.href, link.title)%>
            </li>
          <% end %>
        </ol>
        <div class="page-header">
          <h1><%= @title %></h1>
        </div>
        <%= yield %>
      </div>
      <footer id="footer" class="row">
        <p>
          Liberta - from FMI for FMI thanks to HackFMI
        </p>
      </footer>
    </div>
  </body>
</html>

