<table class="table table-striped table-hover vertical-middle">
  <thead>
    <tr>
      <th>Корица</th>
      <th>Книга</th>
      <th>Автор</th>
      <th>Инвентарен номер</th>
      <th>Взета от</th>
      <th>Взета на</th>
      <th>Дата на връщане</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @loaned_copies.each do |loan| %>
      <tr>
        <td class="cover"><img src=<%= "/img/prints/#{loan.copy.print.id}.png" %> /></td>
        <td><%= to_link "/prints/#{loan.copy.print.id}", loan.copy.print.title %></a></td>
        <td><%= authors_html loan.copy.print %></a></td>
        <td><%= loan.copy.inventory_number %></td>
        <td><%= loan.user.name %></td>
        <td><%= loan.date_loaned %></td>
        <td><%= loan.date_supposed_return %></td>
        <td>
          <a href='<%= "/prints/#{loan.copy.print.id}/#{loan.copy.id}/return" %>'>
            <button type="submit" id="return_button" name="return_button" class="btn btn-success">Върни</button>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>