<table class="table table-striped table-hover vertical-middle">
  <thead>
    <tr>
      <th>Корица</th>
      <th>Книга</th>
      <th>Автор</th>
      <th>Рейтинг</th>
      <th>Действия</th>
      <% if @returned %>
        <th>Върната на</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td class="cover"><img src=<%= "/img/prints/#{@print.id}.png" %> /></td>
        <td><%= to_link "/prints/#{loan.copy.print.id}", loan.copy.print.title %></a></td>
        <td><%= authors_html loan.copy.print %></a></td>
        <td><%= stars_span(loan.copy.print.rating @ratings_last_month) %></td>
        <td>
          <a href="#modal_<%=loan.copy.print.id%>" class="btn btn-xs btn-primary" title="описание" data-toggle="modal">
            <%= glyphicon_span('info-sign') %>
          </a>
        <% if @to_wishlist %>
          <a href="#" class="btn btn-xs btn-success" title="добави в желани">
            <%= glyphicon_span('plus') %>
          </a>
        <% end %>
          <% if logged? %>
            <% if logged_user.has_wish(loan.copy.print) %>
              <a class="btn btn-xs btn-danger remove-wish-xs" data-for="<%= loan.copy.print.id %>" title="премахни от желани">
                <%= glyphicon_span('minus') %>
              </a>
            <% else %>
              <a class="btn btn-xs btn-success add-wish-xs" data-for="<%= loan.copy.print.id %>" title="добави в желани">
                <%= glyphicon_span('plus') %>
              </a>
            <% end %>
          <% end %>
          <% if @returned %>
            <td><%= loan.date_returned %>
          <% end %>
        <div class="modal fade" id="modal_<%=loan.copy.print.id%>">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%= loan.copy.print.title %></h4>
              </div>
              <div class="modal-body">
                <p>
                  <div class="pull-left from-right-1">
                    <img src=<%= "/img/prints/#{@print.id}.png" %> />
                  </div>
                  <%= loan.copy.print.description %>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
              </div>
            </div>
          </div>
        </div>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>
