<div class="pull-left">
  <img src="img/lord-of-the-rings-book-cover.jpg" alt="Lord Of The Rings" />
</div>
<div class="pull-left from-left-1">
  <table class="table table-striped book-details">
    <tr>
      <th>Автори</th>
      <td>
        <% @print.authors.each do |author| %>
          <a href="<%= author.id %>"><%= author.name %></a><br />
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Издателство</th>
      <td><%= @print.publisher.name %></td>
    </tr>
    <tr>
      <th>Формат</th>
      <td><%= @print.format.name %></td>
    </tr>
    <tr>
      <th>Език</th>
      <td><%= @print.language %></td>
    </tr>
    <tr>
      <th>Страници</th>
      <td><%= @print.pages %></td>
    </tr>
    <tr>
      <th>Цена</th>
      <td><%= @print.price.round(2) %></td>
    </tr>
    <tr>
      <th>Тагове</th>
      <td>
        <%= @print.tags.map(&:name).join(", ") %>
      </td>
    </tr>
    <tr>
      <th>Рейтинг</th>
      <td>
        <%= stars_span @print.rating %>
      </td>
    </tr>
  </table>
</div>
<div class="pull-left from-left-1">
  <div class="well well-sm text-center">Свободни копия<div class="free-copies">13</div></div>
  <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> добави в желани</a>
</div>
<div class="clearfix"></div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Описание</h3>
  </div>
  <div class="panel-body">
    <%= @print.description %>
  </div>
</div>
<% unless @print.recommendations.empty? %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Препоръки</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Потребител</th>
          <th>Рейтинг</th>
          <th>Коментар</th>
        </tr>
      </thead>
      <tbody>
        <% @print.recommendations.each do |recommendation| %>
        <tr>
          <td><a href="#"><%= recommendation.user.name %></a></td>
          <td>
            <%= stars_span recommendation.rating %>
          </td>
          <td><%= recommendation.comment %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
