<div class="pull-left">
  <img src="img/lord-of-the-rings-book-cover.jpg" alt="Lord Of The Rings" />
</div>
<div class="pull-left from-left-1">
  <table class="table table-striped book-details">
    <tr>
      <th>Автори</th>
      <td>
        <% @print.authors.each do |author| %>
          <a href="<%= author.id %>"><%= author.name %></a><br />
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Издателство</th>
      <td><%= @print.publisher.name %></td>
    </tr>
    <tr>
      <th>Формат</th>
      <td><%= @print.format.name %></td>
    </tr>
    <tr>
      <th>Език</th>
      <td><%= @print.language %></td>
    </tr>
    <tr>
      <th>Страници</th>
      <td><%= @print.pages %></td>
    </tr>
    <tr>
      <th>Цена</th>
      <td><%= @print.price.round(2) %></td>
    </tr>
    <tr>
      <th>Тагове</th>
      <td>
        <%= @print.tags.map(&:name).join(", ") %>
      </td>
    </tr>
    <tr>
      <th>Рейтинг</th>
      <td>
        <%= stars_span @print.rating %>
      </td>
    </tr>
  </table>
</div>
<div class="pull-left from-left-1">
  <div class="well well-sm text-center">
    Свободни копия
    <div class="free-copies">
      <%= @print.free_copies_count %> от <%= @print.copies_count %>
    </div>
  </div>
  <% if logged? %>
    <% if @in_wishlist %>
      <a href="./<%= @print.id %>/remove-wishlist" class="btn btn-danger">
        <span class="glyphicon glyphicon-minus"></span> премахни от желани</a>
    <% else %>
      <a href="./<%= @print.id %>/add-wishlist" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> добави в желани</a>
    <% end %>
  <% end %>
</div>
<div class="clearfix"></div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Описание</h3>
  </div>
  <div class="panel-body">
    <%= @print.description %>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Препоръки</h3>
  </div>
  <div class="panel-body">
    <% if @print.recommendations.empty? %>
      <p>Бъди пръв като оцениш тази книга!<p>
    <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Потребител</th>
            <th>Рейтинг</th>
            <th>Коментар</th>
          </tr>
        </thead>
        <tbody>
          <% @print.recommendations.each do |recommendation| %>
          <tr>
            <td><a href="#"><%= recommendation.user.name %></a></td>
            <td>
              <%= stars_span recommendation.rating %>
            </td>
            <td><%= recommendation.comment %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% if logged? %>
      <a href="#recommendation_modal" class="btn btn-primary" data-toggle="modal">Препоръчай</a>
      <div class="modal fade" id="recommendation_modal">
        <div class="modal-dialog">
          <div class="modal-content">
              <form id="news_upload_form" class="form-horizontal" method="post" action="/prints/<%= @print.id%>/add-recommendation">
                <fieldset>
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">

                    <!-- Form Name -->
                    <legend>Добавяне на препоръка</legend>

                    оценка:
                    <span class="stars s-2.5" data-default='2.5'>
                    2.5 stars
                    </span>

                    <br />
                    <textarea rows="4" cols="50" id="recommendation_comment" class="form-control" required="" name="recommendation_comment" placeholder="Коментар..."></textarea>

                  </div>
                  <div class="modal-footer">
                    <button type="submit" id="save_button" name="save_button" class="btn btn-success">Препоръчай</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
                  </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% unless @print.copies.empty? %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Копия</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Библиотечен номер</th>
          <th>Свободно</th>
        </tr>
      </thead>
      <tbody>
        <% @print.copies.each do |copy| %>
        <tr>
          <td>
            <a href="<%= @print.id.to_s.concat('/').concat copy.inventory_number.to_s %>"><%= copy.inventory_number %></a>
          </td>
          <td>
            <% if copy.is_taken %>
              Не
            <% else %>
              Да
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>

