<div class="col-md-2">
  <a href="#" class="thumbnail"><img src=<%= "/img/users/#{@user.id}.png" %> alt="..." /></a>
  <h3 class="text-center user-name"><%= @user.name %></h3>
  <% if admin? %>
    <div class="text-center">
    <a href="#news_modal" class="btn btn-primary" data-toggle="modal">Отдай книга</a>
    <div class="modal fade" id="news_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="news_upload_form" class="form-horizontal" method="post" action="/users/<%= @user.id %>/loan">
            <fieldset>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <!-- Form Name -->
                <legend>Отдаване на книга</legend>
                <input type="text" class="form-control" placeholder="Библиотечен номер..." required="true" id="copy_inventory_number" name="copy_inventory_number">
              </div>
              <div class="modal-footer">
                <button type="submit" id="save_button" name="save_button" class="btn btn-success">Отдай</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Отмяна</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="col-md-10">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#recommended" data-toggle="tab">Препоръчани</a></li>
	  <li><a href="#read" data-toggle="tab">Прочетени</a></li>
	  <li><a href="#wishlist" data-toggle="tab">Желани</a></li>
	  <% if @own_profile or admin? %>
		  <li><a href="#loaned" data-toggle="tab">Невърнати</a></li>
		<% end %>
	</ul>
	<div class="tab-content">

	  <div class="tab-pane active col-md-12" id="recommended">
      <%= show_recommendations_table @user.last_recommendations(5) %>
      <% if @user.last_recommendations.length > 5 %>
			  <a href='<%= "./#{@user.id}/recommendations" %>' class="btn btn-info">всички препоръки</a>
      <% end %>
	  </div>

	  <div class="tab-pane col-md-12" id="read">
  		<%= show_loans_table @user.read.take(5), true, false %>
      <% if @user.read.length > 5 %>
  			<a href='<%= "./#{@user.id}/read" %>' class="btn btn-info">всички прочетени</a>
      <% end %>
	  </div>

	  <div class="tab-pane col-md-12" id="wishlist">
			<%= show_print_table @user.wishes.take(5), false, false %>
      <% if @user.wishes.length > 5 %>
  			<a href='<%= "./#{@user.id}/wishlist" %>' class="btn btn-info">всички желани</a>
	    <% end %>
  	</div>

		<% if @own_profile or admin? %>
			<div class="tab-pane col-md-12" id="loaned">
		  	<%= show_loans_table @user.currently_loaned.take(5), false, true %>
      	<% if @user.currently_loaned.length > 5 %>
          <a href='<%= "./#{@user.id}/loaned" %>' class="btn btn-info">всички невърнати</a>
        <% end %>
		  </div>
		<% end %>

	</div>
</div>
