<div class="col-md-2">
  <a href="#" class="thumbnail"><img src="./img/profile.png" alt="..." /></a>
  <h3 class="text-center user-name"><%= @user.name %></h3>
  <% if admin? %>
    <div class="text-center">
    <a href="#news_modal" class="btn btn-primary" data-toggle="modal">Отдай книга</a>
    <div class="modal fade" id="news_modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="news_upload_form" class="form-horizontal" method="post" action="/users/<%= @user.id %>/loan">
            <fieldset>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">
                <!-- Form Name -->
                <legend>Отдаване на книга</legend>
                <input type="text" class="form-control" placeholder="Библиотечен номер..." required="true" id="copy_inventory_number" name="copy_inventory_number">
              </div>
              <div class="modal-footer">
                <button type="submit" id="save_button" name="save_button" class="btn btn-success">Отдай</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Отмяна</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="col-md-10">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#recommended" data-toggle="tab">Препоръчани</a></li>
	  <li><a href="#read" data-toggle="tab">Прочетени</a></li>
	  <li><a href="#wishlist" data-toggle="tab">Желани</a></li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane active col-md-10" id="recommended">
	  	<h3>Препоръчани книги</h3>
			<table class="table table-striped table-hover">
				<thead>
				  <tr>
				    <th>Книга</th>
				    <th>Рейтинг</th>
				    <th>Коментар</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
				  	<% @user.last_recommendations(5).each do |recommendation| %>
				    <td>
				    	<%= to_link("../prints/#{recommendation.print.id}", recommendation.print.title) %>
				    </td>
				    <td>
				    	<%= stars_span recommendation.rating %>
				    </td>
				    <td>
				    	<% if recommendation.comment and recommendation.comment.length > 30 %>
						    	<%= recommendation.comment[0..30] %>...
									 <a href="#modal_<%=recommendation.id%>"data-toggle="modal">виж още
						      </a>
						  <% else %>
							 <%= recommendation.comment %>
						  <% end %>
						</td>
					    <div class="modal fade" id="modal_<%=recommendation.id%>">
						    <div class="modal-dialog">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						          <h4 class="modal-title">Коментар</h4>
						        </div>
						        <div class="modal-body">
						          <p>
						          <%= recommendation.comment %>
						          </p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
						        </div>
						      </div>
						    </div>
						  </div>
					  </tr>
				  <% end %>
				</tbody>
			</table>
			<a href='<%= "./#{@user.id}/recommendations" %>' class="btn btn-info">всички препоръки</a>
	  </div>
	  <div class="tab-pane col-md-6" id="read">
  		<%= show_loans_table @user.read, true, false %>
			<a href='<%= "./#{@user.id}/read" %>' class="btn btn-info">всички прочетени</a>
	  </div>
	  <div class="tab-pane col-md-6" id="wishlist">
  		<h3>Желани книги</h3>
			<%= show_print_table @user.wishes, false, false %>
			<a href='<%= "./#{@user.id}/wishlist" %>' class="btn btn-info">всички желани</a>
		</div>
	</div>
</div>
