<% if @shown_results.size.zero? %>
  <div class="alert alert-warning from-top-2">Не са намерени резултати!</div>
<% else %>
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th>Книга</th>
      <th>Автор</th>
      <th>Издателство</th>
      <th>Рейтинг</th>
      <th>Свободни копия</th>
      <th>Действие</th>
    </tr>
  </thead>
  <tbody>
  <% @shown_results.each do |result| %>
    <tr>
      <td><%= to_link("/prints/#{result.id}", result.title) %></td>
      <td><%= authors_html result %></td>
      <td>
        <%=
          publisher = Publisher.find(id: result.publisher_id)
          to_link("/publishers/#{publisher.id}", publisher.name)
        %>
      </td>
      <td><%= stars_span result.rating %></td>
      <td><%= "#{result.free_copies_count} от #{result.copies_count}" %></td>
      <td>
        <a href="#modal_1" class="btn btn-xs btn-primary" data-toggle="modal" title="описание">
          <%= glyphicon_span('info-sign') %>
        </a>
        <% if logged? %>
          <% if logged_user.has_wish(result) %>
            <a href="#" class="btn btn-xs btn-danger remove-wish-xs" data-for="<%=result.id %>" title="премахни от желани">
              <%= glyphicon_span('minus') %>
            </a>
          <% else %>
            <a href="#" class="btn btn-xs btn-success add-wish-xs" data-for="<%=result.id %>" title="добави в желани">
              <%= glyphicon_span('plus') %>
            </a>
          <% end %>
        <% else %>
            <a href="/login" class="btn btn-xs btn-success" data-for="<%=result.id %>" title="добави в желани">
              <%= glyphicon_span('plus') %>
            </a>
        <% end %>
        <div class="modal fade" id="modal_1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><%= result.title %></h4>
              </div>
              <div class="modal-body">
                <p>
                  <div class="pull-left from-right-1">
                    <img src=<%= "/img/prints/#{result.id}.png" %> />
                  </div>
                  <%= result.description %>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Затвори</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <ul class="pagination">
    <li <%= @current_page == 1 ? "class='disabled'" : "" %>>
     <%= to_link "#{@current_page - 1}", "&laquo;" %>
    </li>
    <% 1.upto(@page_count).each do |page| %>
      <li <%= @current_page == page ? "class='active'" : "" %>>
        <%= to_link "#{page}", page %>
      </li>
    <% end %>
    <li <%= @current_page == @page_count ? "class='disabled'" : "" %>>
     <%= to_link "#{@current_page + 1}", "&raquo;" %>
    </li>
  </ul>
</div>
<% end %>
