<form class="form-inline" role="form" method="post" action="/users/search">
  <div class="form-group">
    <label class="sr-only" for="name">Име: </label>
    <input type="text" class="form-control" id="name" name="name"
    placeholder="Никола Таушанов" value=<%= "\"#{@names.join(' ')}\"" %>/>
  </div>
  <div class="form-group">
    или
  </div>
  <div class="form-group">
    <label class="sr-only" for="fn">Факултетен Номер: </label>
    <input type="text" class="form-control" id="fn" name="fn"
     placeholder="80764" value=<%= "\"#{@fn}\"" %>/>
  </div>
  <button type="submit" class="btn btn-primary">Филтрирай</button>
</form>

<% if shown_results.current_page_record_count == 0 %>
  <div class="alert alert-warning from-top-2">Не са намерени резултати!</div>
<% else %>
<table class="table table-striped table-hover vertical-middle from-top-2">
  <thead>
    <tr>
      <th>Снимка</th>
      <th>Потребител</th>
      <th>Факултетен Номер</th>
    </tr>
  </thead>
  <tbody>
    <% shown_results.each do |result| %>
      <tr>
        <td class="cover"><img src=<%= "/img/users/#{result.id}.png" %> /></td>
        <td><%= to_link "/users/#{result.id}", result.name %></a></td>
        <td><%= result.faculty_number %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= erb :'pagination.html', :locals => {:shown_results => shown_results} %>
<% end %>