<div class="text-center">
  <ul class="pagination">
    <li <%= shown_results.first_page? ? "class='disabled'" : "" %>>
      <%
        if shown_results.first_page?
          link = "javascript:;"
        else
          link = "#{shown_results.current_page - 1}?#{request.query_string}"
        end
      %>
      <%= to_link link, "&laquo;" %>
    </li>
    <% 1.upto(shown_results.page_count).each do |page| %>
      <li <%= shown_results.current_page == page ? "class='active'" : "" %>>
        <%= to_link "#{page}?#{request.query_string}", page %>
      </li>
    <% end %>
    <li <%= shown_results.last_page? ? "class='disabled'" : "" %>>
      <%
        if shown_results.last_page?
          link = "javascript:;"
        else
          link = "#{shown_results.current_page + 1}?#{request.query_string}"
        end
      %>
      <%= to_link link, "&raquo;" %>
    </li>
  </ul>
</div>
